body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-image: url("../asset/begron.png");
  background-size: cover;
  background-position: center;
}

.judul-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  margin: 10% auto;
  text-align: left;
  font-family: "Lato", sans-serif;
}
img {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.judul-form h1 {
  color: black;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  font-size: 30px;
  font-weight: 800;
}
.form-input {
  border-radius: 15px;
  padding: 8px 16px;
  margin-left: 24px;
  margin-bottom: 16px;
  width: 322px;
  height: 25px;
  border: 0px solid;
  outline: none;
  font-size: 14px;
}
.button-continue {
  color: white;
  background-color: #dd3131;
  width: 354px;
  height: 40px;
  padding: 8px 8px;
  margin-top: 14px;
  margin-left: 24px;
  margin-bottom: 8px;
  border: 0px solid;
  border-radius: 15px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.button-continue:hover {
  background-color: #750909;
}
.punya-akun-ga {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}
.sign-up-click {
  text-decoration: underline;
  color: #dd3131;
  font-size: 16px;
  font-weight: 700;
}
.sign-up-click:hover {
  color: #750909;
}
