body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-image: url("../img/background-addresto.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.col-5 {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 40px;
  width: 500px;
}
.col-5 h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  text-align: left;
}
.col-5 h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
/* Form */
.col-7 form {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 80px;
  padding: 40px;
  width: 600px;
}
.col-7 form img {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.form-control:focus {
  border-color: #dd3131;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 10px rgba(221, 49, 49, 0.8);
}
.col-7 form h4 {
  font-size: 24px;
  font-weight: 800;
}
.form-jambuka {
  border-radius: 5px;
  padding: 8px 16px;
  width: 496px;
  border: 0px solid;
  outline: none;
  font-size: 14px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.062);
}
.form-jambuka:focus {
  border-color: #dd3131;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 10px rgba(221, 49, 49, 0.8);
}
.select select {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: rgb(109, 109, 109);
  border-radius: 5px;
  padding: 8px 16px;
  width: 496px;
  height: 40px;
}
.input-group {
  margin-bottom: 16px;
  color: #dd3131;
}
.form-select:focus {
  border-color: #dd3131;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 10px rgba(221, 49, 49, 0.8);
}
.btn {
  color: white;
  background-color: #dd3131;
  width: 496px;
  height: 40px;
  padding: 8px 8px;
  margin: 12px;
  border: 0px solid;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.btn:focus {
  border-color: #dd3131;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 10px rgba(221, 49, 49, 0.8);
}
.btn:hover {
  background-color: #750909;
  color: #fff;
}
