body {
    font-family: Lato;
    background-color: #EEEEEE;
}

/* Navigation Bar */
.toplogo img {
    max-height: 60px;
    max-width: auto; 
}
#NavBar {
    background-color: #FFFFFF;
}
.navbar-nav {
    font-family: Lato;
    font-size: 19px;
}
.navbar-nav #Beranda {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: #DD3131;
}
.navbar-nav #Kategori {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
    border-right: 2px solid silver;
    font-weight: 700;
    color: #000000;
}
.navbar-nav #navbarDropdownMenuLink {
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
    color: #000000;
}
.navbar-nav #Photo img {
    clip-path: circle();
    border-radius: 50%;
    height: 50px;
    margin-bottom: -20px;
    margin-top: -25px;
}
.navbar-nav .dropdown-item {
    font-size: 17px;
    font-weight: 700;
}
.navbar-nav .exit {
    color: #DD3131;
}
.navbar-nav .dropdown-item:hover {
    background-color: pink;
}

/* Cover */
.jumbotron {
    background-image: url(img/bgimage.png);
    background-size: cover;
    filter: brightness(100%);
    height: 500px;
}
.jumbotron #logoEzEats {
    width: 850px;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Search Box */
.search-box {
    background-color: #eee;
    font-family: Lato;
    margin-top: -30px;
}
.search-box .height {
    height: 0px;
}
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}
.search input {
    height: 60px;
    text-indent: 25px;
    border-radius: 20px;
    border: 2px solid #D6D4D4
}
.search .form-control {
    padding-left: 40px;
    font-weight: 700;
    font-size: 23px;
}
.search input:focus {
    box-shadow: none;
    border: 2px solid #DD3131
}
.search .bi-search {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 1.5rem;
}
.search button {
    font-weight: 900;
    font-size: 22px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 130px;
    background: #DD3131
}
.search button:hover {
    background-color: #750909;
}

/* Card Items */

.main-title {
    font-size: 40px;
    font-weight: 900;
}
.card-product-list,
.card-product-grid {
    margin-bottom: 0
}
.card {
    width: 400px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 50px
}
.card-product-grid:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    -webkit-transition: .3s;
    transition: .3s
}
.card-product-grid .img-wrap {
    border-radius: 1.2rem 1.2rem 0 0;
    height: 220px
}
.card .img-wrap {
    overflow: hidden
}
.card-lg .img-wrap {
    height: 280px
}
[class*='card-product'] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover
}
.img-wrap {
    text-align: center;
    display: block
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px
}
[class*='card-product'] a.title {
    color: #212529;
    display: block
}
.info-wrap .title {
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}
.heart1 {
    width: 110px;
    height: 110px;
    position: relative;
    top: 22%;
    transform: translate(-50%, -50%);
    background: url(img/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.heart-line {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}
.card-product-grid .bottom-wrap {
    text-align: right;
    padding: 18px;
    border-top: 1px solid #e4e4e4
}
.rating, .address {
    margin-top: 5px;
    font-size: 16px;
}
.rating .bi {
    padding-right: 0.4em;
    color: #FF9900
}
.address .bi {
    padding-right: 0.4em;
    color:#24923D
}
.bottom-wrap .review {
    padding-right: 1em;
    text-decoration: underline;
    font-weight: 700;
    color: #DD3131;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
}
footer h2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 0.9em;
}
footer .about-us {
    margin-right: 40px;
    border-right: 2px solid #363636 ;
}
footer .contact-us .bi {
    margin-right: 10px;
}
footer .contact-us .contact {
    margin-bottom: 12px;
}
footer .socmed-icon .btn {
    flex-wrap: wrap;
    font-size: 20px;
    color: #000000;
    background-color: #EEEEEE;
    border: #afafaf;
}
footer .socmed-icon .btn:hover {
    background-color: #afafaf;
}