body {
  font-family: Lato;
  background-image: url(../img/background/bg-texture.jpg);
}

/* Navigation Bar */
/* #region */
.toplogo img {
  max-height: 60px;
  max-width: auto;
}
#NavBar {
  background-color: #ffffff;
}
.navbar-nav {
  font-family: Lato;
  font-size: 19px;
}
.navbar-nav #navbarDropdownMenuLink {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  color: #000000;
}
.navbar-nav #Photo img {
  clip-path: circle();
  border-radius: 50%;
  height: 50px;
  margin-bottom: -20px;
  margin-top: -25px;
}
.navbar-nav .dropdown-item {
  font-size: 17px;
  font-weight: 700;
}
.navbar-nav .exit {
  color: #dd3131;
}
.navbar-nav .dropdown-item:hover {
  background-color: pink;
}
#NavBar .searchbar .inputbox {
  width: 525px;
  height: 47px;
  font-size: 1.18em;
  font-weight: 700;
  padding-right: 53.5px;
}
#NavBar .searchbar .inputbox:focus {
  box-shadow: none;
  border: 2px solid #dd3131;
}
#NavBar .searchbar .btn {
  margin-left: -53.5px;
  height: 47px;
  font-size: 1.18em;
  font-weight: 700;
}
/* #endregion */

/* Restaurant Info */
/* #region */
.info {
  margin-top: -48px;
}
  /* Header Info */
  /* #region */
  .info .info-header {
    position: relative;
    background-color: #ffffff;
    z-index: -2;
  }
  .info .images-header .resto-cover {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 400px;
    filter: brightness(40%);
    z-index: -1;
  }
  .info .images-header .resto-image {
    height: 290px;
    width: 33%;
    display: block;
    object-fit: cover;
    margin: -200px auto 0;
    border: solid #ffffff 5px;
    border-radius: 15px;
  }
  .info strong {
    font-weight: 800;
  }
  .info h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 35px;
  }
  .info h3 {
    text-align: center;
    font-size: 20px;
  }
  .info h3 .rating {
    margin-left: 2px;
    font-weight: 900;
    color: #24923d;
  }
  /* #endregion */

  /* Navigation Tab */
  /* #region */
  .info .info-body {
    position: relative;
    background-color: #ffffff;
    margin-top: 20px;
  }
  .info .info-body .nav-tabs {
    margin: 0px 20px 0px 20px;
  }
  .info .info-body .nav-tabs .nav-link {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 5px;
    padding: 10px 30px 10px 30px;
  }
  .info .info-body .nav-tabs .active {
    border-top: 2px solid #dd3131;
    border-left: 2px solid #dd3131;
    border-right: 2px solid #dd3131;
    border-bottom: 2px solid #fff;
    border-bottom-color: transparent;
    margin-top: 13px;
    margin-right: 3px;
    color: #dd3131;
  }
  .info .info-body .nav-tabs .nav-link:hover {
    font-weight: 700;
    border-top: 2px solid #dd3131;
    border-left: 2px solid #dd3131;
    border-right: 2px solid #dd3131;
    border-bottom: 2px solid #fff;
    border-bottom-color: transparent;
    margin-top: 13px;
    margin-right: 3px;
    color: #dd3131;
    border-radius: 5px 5px 0 0;
    transition: background 0.25s linear;
  }
  .nav-tabs {
    border-bottom: 1px solid #dd3131;
  }
  /* #endregion */

  /* Detail and Button */
  /* #region */
  .info .info-body .tab-content {
    margin: 40px 40px;
    padding-bottom: 70px;
  }
  .info .info-body .tab-content .attribute {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: -11px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
  }
  .info .info-body .tab-content .value {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: -11px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
  }
  .info .info-body .button-fav {
    position: absolute;
    top: 9.5px;
    right: 200px;
  }
  .info .info-body .button-fav .btn {
    font-size: 18px;
    font-weight: 600;
    color: rgb(133, 50, 50);
    background-color: rgb(245, 178, 189);
    border: 2.5px solid rgb(190, 90, 107);
    padding: 8px 20px 8px 11px;
  }
  .info .info-body .button-fav .btn:hover {
    background-color: rgb(235, 123, 141);
    color: #FFF;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .info .info-body .button-fav .bi::after {
    content: "";
    border-right: 2.5px solid rgb(190, 90, 107);
    display: inline-block;
    height: 45px;
    margin: -20px 16px -16px 10px;
  }
  .info .info-body .button-black {
    position: absolute;
    top: 9.5px;
    right: 20px;
  }
  .info .info-body .button-black .btn {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 172, 172);
    border: 2.5px solid rgb(90, 90, 90);
    padding: 8px 12px 8px 11px;
  }
  .info .info-body .button-black .btn:hover {
    background-color: rgb(39, 39, 39);
    color: #FFF;
  }
  .info .info-body .button-black .bi::after {
    content: "";
    border-right: 2.5px solid rgb(80, 80, 80);
    display: inline-block;
    height: 45px;
    margin: -20px 10px -16px 10px;
  }
  .info .info-body .modal-fav .modal-content {
    background-color: #ffeeee;
  }
  .info .info-body .modal-black .modal-content {
    background-color: #ffffff;
  }
  .info .info-body .modal a {
    font-weight: 600;
    color: #dd3131;
  }
  .info .info-body .modal a:hover {
    color: #a33333;
  }
  .info .info-body .modal .modal-header {
    border-bottom: 2.4px solid silver;
  }
  .info .info-body .modal .modal-title {
    font-size: 21px;
    font-weight: 600;
    margin-left: 24px;
  }
  .info .info-body .modal .modal-title .bi {
    font-size: 22px;
    margin-right: 15px;
  }
  .info .info-body .modal .modal-body h6 {
    font-size: 20px;
    font-weight: 400;
  }
  .info .info-body .modal .modal-body {
    margin-top: 8px;
    margin-bottom: 35px;
    margin-left: 25px;
  }
  .info .info-body .modal-black .btn-secondary {
    margin-left: 22px;
  }
  .info .info-body .modal-black .btn-danger {
    margin-right: 22px;
  }
  .info .info-body .modal-black .modal-footer .container {
    display: flex;
    justify-content: space-between;
  }
  .info .info-body .modal-black .btn-secondary {
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .info .info-body .modal-black .btn-danger {
    font-size: 20px;
    background-color: #dd3131;
    border-radius: 6px;
    border-color: #dd3131;
    padding-left: 18px;
    padding-right: 18px;
  }
  .info .info-body .modal-black .btn-secondary:hover {
    background-color: #e0e0e0;
  }
  .info .info-body .modal-black .btn-danger:hover {
    background-color: #a33333;
  }
  /* #endregion */

  /* Edit Form */
  /* #region */
  .container .btn-editresto {
    color: white;
    background-color: #dd3131;
    width: 220px;
    height: 50px;
    padding: 8px 8px;
    margin: 18px;
    margin-top: 40px;
    border: 0px solid;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .container .btn-editresto:hover {
    background-color: #750909;
    color: #fff;
  }
  .modal.fade.edit-resto .modal-body {
    margin-left: 5px;
    margin-bottom: -15px;
  }
  .modal.fade.edit-resto .modal-body h4 {
    margin-left: 3px;
    margin-bottom: 27px;
  }
  .modal.fade.edit-resto .modal-body label {
    font-weight: 600;
    margin-left: 3px;
    font-size: 18px;
  }
  .modal.fade.edit-resto .modal-body input,
  .modal.fade.edit-resto .modal-body select {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
  }
  .modal.fade.edit-resto .modal-body {
    padding: 32px;
  }
  .modal.fade.edit-resto .modal-body h4 {
    font-size: 24px;
    font-weight: 800;
  }
  .modal.fade.edit-resto .form-label {
    font-size: 16px;
    color: #6b6b6b;
  }
  .modal.fade.edit-resto textarea {
    resize: none;
    padding-top: 10px;
    font-weight: 400;
    font-size: 17px;
    min-height: 140px;
  }
  .modal.fade.edit-resto .form-select:focus {
    border-color: #dd3131;
    box-shadow: 0 0 2px 2px rgba(221, 49, 49, 1);
  }
  .modal.fade.edit-resto .form-control:focus {
    border-color: #dd3131;
    box-shadow: 0 0 2px 2px rgba(221, 49, 49, 1);
  }
  .modal.fade.edit-resto .input-group {
    margin-bottom: 16px;
    color: #dd3131;
  }
  .modal.fade.edit-resto .input-group .form-control {
    padding-top: 6px;
    padding-bottom: 5px;
  }
  .modal.fade.edit-resto .validation {
    margin-left: 3px;
  }
  .modal.fade.edit-resto .validation label {
    margin-left: 10px;
    font-weight: 500;
  }
  .modal.fade.edit-resto .validation input {
    background-color: #FFF;
    border-color: #aaaaaa;
  }
  .modal.fade.edit-resto .validation input:checked {
    background-color: #dd3131;
    border-color: #dd3131;
  }
  .modal.fade.edit-resto .validation input:focus {
    box-shadow: 0 0 3px 1.5px #dd3131;
  }
  .modal.fade.edit-resto .modal-footer .container {
    display: flex;
    justify-content: space-between;
  }
  .modal.fade.edit-resto .btn-secondary {
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .modal.fade.edit-resto .btn-danger {
    font-size: 20px;
    background-color: #dd3131;
    border-radius: 6px;
    border-color: #dd3131;
    padding-left: 18px;
    padding-right: 18px;
  }
  .modal.fade.edit-resto .btn-secondary:hover {
    background-color: #e0e0e0;
  }
  .modal.fade.edit-resto .btn-danger:hover {
    background-color: #a33333;
  }
  /* #endregion */

  /* Menu and Gallery */
  /* #region */
  .info-body .tab-content #menus {
    margin-top: 30px;
  }
  .info-body .tab-content #menus .image-wrap {
    overflow: hidden;
    margin-bottom: 20px;
    border: 4px solid transparent;
    border-radius: 7px;
    height: 320px;
  }
  .info-body .tab-content #menus .image-wrap:hover {
    -webkit-box-shadow: 0 5px 15px rgba(153, 153, 153, 0.75);
    box-shadow: 0 5px 15px rgba(153, 153, 153, 0.75);
  }
  .info-body .tab-content #menus img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
  }
  .info-body .tab-content #menus .image-wrap img:hover {
    opacity: 0.85;
    transform: scale(1.08);
    transition: transform .2s;
    cursor: pointer;
  }
  .modal.menus {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 5px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  .modal.menus .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 75%;    
    max-height: 90vh;
    border: none;
    background-color: transparent;
  }
  .modal.menus .modal-content .my-slides {
    text-align: center;
    margin: auto;
    width: 63vw;
    height: 800px;    
  }
  .modal.menus .modal-content .my-slides img {
    object-fit: contain !important;
    width: 100% !important;
  }
  .modal.menus .close {
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 48px;
    font-weight: bold;
    transition: 0.3s ease;
  }
  .modal.menus .close:hover, .close:focus {
    color: rgb(187, 185, 185);
    text-decoration: none;
    cursor: pointer;
  }
  .modal.menus .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #FFF !important;
    font-weight: bold;
    font-size: 3em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .modal.menus .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .modal.menus .next:hover, .prev:hover {
    background-color: rgba(0, 0, 0, 0.658);
  }
  .modal.menus .modal-content .my-slides {
      animation-name: zoom;
      animation-duration: 0.3s;
  }  
  @keyframes zoom {
      from {
        transform: scale(0)
      }
      to {
        transform: scale(1)
      }
  }  
  /* #endregion */

/* #endregion */

/* User Rating and Review */
/* #region */
.rate-divider {
  border-top: 2px solid silver;
  margin: 30px -20px 30px -20px;
}
.user-rating {
  display: flex;
  justify-content: space-between;
  font-size: 27px;
  font-weight: 600;
}
.user-rating .btn {
  margin-left: 10px;
  font-size: 23px;
  border-radius: 7px;
}
.user-rating .btn .bi {
  margin-right: 7px;
}
.user-rating .yes {
  background-color: #24923d;
  padding-right: 30px;
}
.user-rating .yes:hover {
  background-color: #1e7732;
}
.user-rating .nope {
  background-color: #dd3131;
}
.user-rating .nope:hover {
  background-color: #a33333;
}
.user-rating .yes .bi {
  padding-right: 8px;
}
.user-rating .modal-fav .modal-content {
  background-color: #ffeeee;
}
.user-rating .modal-black .modal-content {
  background-color: #ffffff;
}
.user-rating .modal a {
  font-weight: 600;
  color: #dd3131;
}
.user-rating .modal a:hover {
  color: #a33333;
}
.user-rating .modal .modal-header {
  border-bottom: 2.4px solid silver;
}
.user-rating .modal .modal-header .btn-close {
  font-size: 17px;
}
.user-rating .modal .modal-title {
  font-size: 21px;
  font-weight: 600;
  margin-left: 24px;
}
.user-rating .modal .modal-title .bi {
  font-size: 22px;
  margin-right: 15px;
}
.user-rating .modal .modal-body h6 {
  font-size: 20px;
  font-weight: 400;
}
.user-rating .modal .modal-body {
  margin-top: 8px;
  margin-bottom: 35px;
  margin-left: 25px;
}
.user-review {
  font-size: 27px;
  font-weight: 600;
  text-decoration: underline;
  color: #dd3131;
}
.user-review .bi {
  margin-left: 5px;
  font-size: 27px;
}
.user-review:hover {
  color: #f36969;
}

.container .edit-resto .modal-content {
  background-color: white !important;
}
.modal.fade.add-review h5 {
  margin-left: 1ch;
  font-size: 27px;
  font-weight: 600;
}
.modal.fade.add-review .modal-header .btn-close {
  margin-right: 1ch;
}
.modal.fade.add-review .col-form-label {
  font-size: 20px;
  font-weight: 500;
}
.modal.fade.add-review .form-control {
  font-size: 20px;
}
.modal.fade.add-review .form-control:focus {
  border-color: rgba(221, 49, 49, 1) !important;
  box-shadow: 0 0 5px rgba(221, 49, 49, 1) !important;
  outline: 0 none !important;
}
.modal.fade.add-review textarea {
  resize: none;
  overflow: hidden;
  min-height: 150px;
}
.modal.fade.add-review .modal-footer .container {
  display: flex;
  justify-content: space-between;
}
.modal.fade.add-review .btn-secondary {
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
}
.modal.fade.add-review .btn-danger {
  font-size: 20px;
  background-color: #dd3131;
  border-radius: 6px;
  border-color: #dd3131;
  padding-left: 18px;
  padding-right: 18px;
}
.modal.fade.add-review .btn-secondary:hover {
  background-color: #e0e0e0;
}
.modal.fade.add-review .btn-danger:hover {
  background-color: #a33333;
}
.modal.fade.add-review .form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* #endregion */

/* Cards of Review */
/* #region */
.card-divider {
  border-top: 2px solid silver;
  margin: 35px -20px 35px -20px;
}
.card {
  margin-top: 20px;
  border: 2px solid silver;
  border-radius: 10px;
}
.card.my-card {
  background-image: linear-gradient(to bottom right, rgb(253, 228, 228), rgb(255, 255, 255));
}
.my-review-title ~ .card.my-card:empty {
  display: none;
}
.card .card-body {
  border-bottom: 1px solid silver;
}
.card .profile {
  margin-left: 20px;
  margin-right: 30px;
}
.card .profile img {
  display: block;
  margin: 0 auto;
  clip-path: circle();
  height: 180px;
}
.card .name {
  margin-top: 18px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  word-wrap: normal;
}
.card .nick {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  word-wrap: normal;
}
.card .review {
  padding-left: 50px;
  border-left: 2px solid rgb(218, 218, 218);
}
.card .review .subject {
  font-weight: 700;
  font-size: 33px;
  margin-top: 0.27em;
  margin-bottom: 0.6em;
}
.card .review .rating {
  text-align: end;
  margin-top: 12px;
}
.card .review #good .icon {
  background-color: #24923d;
  font-size: 24px;
  color: white;
  padding: 0.2em 0.4em 0.4em 0.4em;
  border-radius: 4px;
  border: 1px solid #24923d;
}
.card .review #bad .icon {
  background-color: #dd3131;
  font-size: 24px;
  color: white;
  padding: 0.2em 0.4em 0.4em 0.4em;
  border-radius: 4px;
  border: 1px solid #dd3131;
}
.card .review .rating .info {
  font-size: 17px;
  padding: 0.67em 0.95em 0.67em 0.6em;
  border-radius: 4px;
  border: 2px solid silver;
}
.card .review .detail {
  font-size: 20px;
}

.card .review .img-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 320px;
  border-radius: 8px;
  transform: .3s;
  margin-bottom: 20px;
}
.card .review .img-wrap:hover {
  -webkit-box-shadow: 0 5px 15px rgba(153, 153, 153, 0.75);
  box-shadow: 0 5px 15px rgba(153, 153, 153, 0.75);
}
.card .review .img-wrap img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
.card .review .img-wrap img:hover {
  transform: scale(1.1);
  transition: transform .3s;
}
.card .review .img-wrap .review-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}  
.card .review .img-wrap .review-image:hover {
  opacity: 0.85;
}
.reviews .modal.zoom-image {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  /* Black w/ opacity */
}
.reviews .modal.zoom-image .modal-content {
  margin: 10px auto;
  max-width: 800px;
  max-height: 600px;
  border-radius: 15px;
  align-items: center;
}
.reviews .modal.zoom-image .modal-content img {
  margin: auto;
  object-fit: scale-down;
  object-position: center;
  size: 100%;
}  
.reviews .modal.zoom-image #caption {
  margin: 35px auto ;
  text-align: center;
  color: #ccc;
  font-weight: 700;
  font-size: 21px;
  padding: 0;
  max-height: 30px;
  align-items: flex-start;
}
.reviews .modal.zoom-image .modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}  
@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
.reviews .card .dropstart {
  position: absolute;
  bottom: 125px;
  right: 40px;
  background-color: inherit;
}
.reviews .card .dropstart .btn {
  border-radius: 50%;
}
.reviews .card .dropstart .btn:hover {
  background-color: #EEE;
}
.reviews .card .dropstart .dropdown-item {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.reviews .card .dropstart .dropdown-item:hover {
  color: #DD3131;
  background-color: pink;
}
.modal.modal-delete.fade h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 4px;
  margin-left: 15px;
}
.modal.modal-delete.fade h6,
.modal.modal-edit.fade h6 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 15px;
}
.modal.modal-delete.fade .btn-secondary {
  font-size: 20px;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
  margin-left: 15px;
}
#delete-modal-2 .btn-secondary,
#modal-edit-2 .btn-secondary {
  margin-right: 15px;
}
.modal.modal-delete.fade .btn-danger {
  font-size: 20px;
  background-color: #DD3131;
  border-radius: 6px;
  border-color: #DD3131;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
  margin-right: 15px;
}
.modal.modal-delete.fade .btn-secondary:hover {
  background-color: #e0e0e0;
}
.modal.modal-delete.fade .btn-danger:hover {
  background-color: #a33333;
}
.modal.modal-edit.fade h5 {
  margin-left: 1ch;
  font-size: 27px;
  font-weight: 600;
}
.modal.modal-edit.fade .modal-header .btn-close {
  margin-right: 1ch;
}
.modal.modal-edit.fade .col-form-label {
  font-size: 20px;
  font-weight: 500;
}
.modal.modal-edit.fade .form-control {
  font-size: 20px;
}
.modal.modal-edit.fade .form-control:focus {
  border-color: rgba(221, 49, 49, 1) !important;
  box-shadow: 0 0 5px rgba(221, 49, 49, 1) !important;
  outline: 0 none !important;
}
.modal.modal-edit.fade textarea {
  resize: none;
  overflow: hidden;
  min-height: 150px;
}
.modal.modal-edit.fade .modal-footer .container {
  display: flex;
  justify-content: space-between;
}
.modal.modal-edit.fade .btn-secondary {
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 6px;
  padding-left: 18px;
  padding-right: 18px;
}
.modal.modal-edit.fade .btn-danger {
  font-size: 20px;
  background-color: #dd3131;
  border-radius: 6px;
  border-color: #dd3131;
  padding-left: 18px;
  padding-right: 18px;
}
.modal.modal-edit.fade .btn-secondary:hover {
  background-color: #e0e0e0;
}
.modal.modal-edit.fade .btn-danger:hover {
  background-color: #a33333;
}
.modal.modal-edit.fade .form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.card .review .timestamp {
  position: absolute;
  bottom: 80px;
  right: 40px;
}
.card .card-bottom .vote-review {
  margin-bottom: 8px;
  margin-left: 38px;
  padding-top: 12px;
  padding-bottom: 0;
  font-size: 17px;
  color: #888;
}
.card .card-bottom .btn {
  padding: 0 0 10px 4px !important;
}
.card .card-bottom a span.like-btn {
  font-size: 23px;
  color: #888;
  padding: 0;
}
.card .card-bottom a span.like-btn.clicked {
  color: #24923d; 
}
.card .card-bottom .voter-info {
  margin-top: 6px;
  font-size: 17px;
  margin-left: 30px;
  padding-top: 14px;
  text-align: end;
  color: gray;
}
.card.my-card .card-bottom .voter-info {
  margin-top: 6px;
  font-size: 17px;
  margin-right: 42px;
  padding-top: 14px;
  padding-bottom: 18px;
  text-align: end;
  color: gray;
}
.card strong {
  color: black;
}
/* #endregion */
.pagination {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}
.pagination .page-item a {
  color: #dd3131;
  padding: 10px 20px;
}
.pagination .page-item a:hover {
  color: #A33333;
  padding: 10px 20px;
  box-shadow: 0 0 1px 2px rgba(221, 31, 31, 0.5);
}
.pagination .page-item a:focus {
  box-shadow: 0 0 2px 2px rgba(221, 31, 31, 0.8);
}
.pagination .active a {
  color: #FFF !important;
  background-color: #dd3131 !important;
  border: none !important;
}

/* Footer Page */
/* #region */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}
footer h2 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 0.9em;
}
footer .about-us {
  margin-right: 40px;
  border-right: 2px solid #363636;
}
footer .contact-us .bi {
  margin-right: 10px;
}
footer .contact-us .contact {
  margin-bottom: 12px;
}
footer .socmed-icon .btn {
  flex-wrap: wrap;
  font-size: 20px;
  color: #000000;
  background-color: #eeeeee;
  border: #afafaf;
}
footer .socmed-icon .btn:hover {
  background-color: #afafaf;
}
/* #endregion */
