body {
    font-family: Lato;
    background-color: #EEEEEE;
}

/* #Navigation Bar */
/* #region */
.toplogo img {
    max-height: 60px;
    max-width: auto; 
}
#NavBar {
    background-color: #FFFFFF;
}
.navbar-nav {
    font-family: Lato;
    font-size: 19px;
}
.navbar-nav #navbarDropdownMenuLink {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    color: #000000;
}
.navbar-nav #Photo img {
    clip-path: circle();
    border-radius: 50%;
    height: 50px;
    margin-bottom: -20px;
    margin-top: -25px;
}
.navbar-nav .dropdown-item {
    font-size: 17px;
    font-weight: 700;
}
.navbar-nav .exit {
    color: #DD3131;
}
.navbar-nav .dropdown-item:hover {
    background-color: pink;
}
#NavBar .searchbar .inputbox {
    width: 525px;
    height: 47px;
    font-size: 1.18em;
    font-weight: 700;
    padding-right: 53.5px;
}
#NavBar .searchbar .inputbox:focus {
    box-shadow: none;
    border: 2px solid #DD3131
}
#NavBar .searchbar .btn {
    margin-left: -53.5px;
    height: 47px;
    font-size: 1.18em;
    font-weight: 700;
}
/* #endregion */

/* Profile Header */
/* #region */
.profile {
    margin-top: -48px;
}
.profile .profile-header {
    position: relative;
    background-color: #FFFFFF;
    z-index: -2;
}
.profile .images-header .profile-cover {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 400px;
    filter: brightness(30%);
    z-index: -1;
}
.profile .images-header .profile-image {
    object-fit: cover;
    position: relative;
    height: 250px;
    width: 250px;
    clip-path: circle();
    margin-top: -130px;
    margin-left: 120px;
}
.profile .images-header .profile-image-bg {
    object-fit: cover;
    position: relative;
    height: 260px;
    width: 260px;
    clip-path: circle();
    margin-top: -130px;
    margin-left: -258px;
    z-index: -1;
}
.profile strong {
    font-weight: 800;
}
.profile .profile-header h2 {
    color: #FFF;
    position: relative;
    margin-top: -190px;
    margin-left: 420px;
    margin-bottom: 26px;
    font-weight: 800;
    font-size: 40px;
}
.profile .profile-header h3 {
    position: relative;
    margin-left: 420px;
    font-size: 20px;
}
/* #endregion */

.profile .profile-body {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 25px;
}

/* Profile Sidebar */
/* #region */
.profile .profile-body a {
    color: #000;
    text-decoration: none;
}
.profile .profile-body a:hover {
    color: #DD3131;
}
.profile .profile-body .sidebar {
    font-size: 24px;
    font-weight: 600;
    border: 1px solid silver;
    border-radius: 5px;
    margin: 0px 0px 20px 20px;
    padding: 10px 5px 10px 17px;
}
.profile .profile-body .sidebar .items {
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 17px;
}
.profile .profile-body .sidebar .last {
    margin-bottom: 17px;
}
.profile .profile-body .active,
.profile .profile-body .active a {
    font-weight: 800;
    color: #DD3131;
}
/* #endregion */
/* Profile history */
.card {
    position: relative;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: -1px;
}
.card:nth-child(2n) {
    background-color: rgb(240, 240, 240);
}
.card .card-content {
    margin: 25px 0 25px;
}
.card .card-content .resto {
    display: flex;
}
.card .card-content img {
    object-fit: cover;
    position: relative;
    display: inline;
    height: 180px;
    width: 270px;
    border-radius: 6px;
    margin-left: 16px;
}
.card .card-content .info {
    margin-left: 22px;
}
.card .card-content .info .resto-name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card .card-content .info .resto-rating,
.card .card-content .info .resto-address,
.card .card-content .info .resto-review {
    font-size: 18px;
}
.card .card-content .info .resto-address {
    color: grey;
}
.card .card-content .resto-rating i {
    font-size: 21px;
    color: #FF9900;
    margin-right: 8px;
}
.card .card-content .resto-address i {
    font-size: 21px;
    color: #24923D;
    margin-right: 7px;
}
.card .card-content .resto-review i {
    font-size: 21px;
    color: #DD3131;
    margin-right: 7px;
}

.profile-body .history .dropstart {
    position: absolute;
    top: 28px;
    right: 17px;
    background-color: inherit;
}
.profile-body .history .dropstart .btn {
    border-radius: 50%;
}
.profile-body .history .dropstart .btn:hover {
    background-color: rgb(233, 232, 232);
}
.profile-body .history .dropstart .dropdown-item {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.profile-body .history .dropstart .dropdown-item:hover {
    color: #DD3131;
    background-color: pink;
}


.modal h5 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 15px;
}
.modal h6 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 15px;
}
.modal .btn-secondary {
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 8px;
    margin-left: 15px;
}
.modal .btn-danger {
    font-size: 20px;
    background-color: #DD3131;
    border-radius: 6px;
    border-color: #DD3131;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 8px;
    margin-right: 15px;
}
.modal .btn-secondary:hover {
    background-color: #e0e0e0;
}
.modal .btn-danger:hover {
    background-color: #a33333;
}


/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
}
footer h2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 0.9em;
}
footer .about-us {
    margin-right: 40px;
    border-right: 2px solid #363636 ;
}
footer .contact-us .bi {
    margin-right: 10px;
}
footer .contact-us .contact {
    margin-bottom: 12px;
}
footer .socmed-icon .btn {
    flex-wrap: wrap;
    font-size: 20px;
    color: #000000;
    background-color: #EEEEEE;
    border: #afafaf;
}
footer .socmed-icon .btn:hover {
    background-color: #afafaf;
}

